@import 'bootstrap/scss/bootstrap';

@import 'filepond/dist/filepond.min.css';
@import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';
@import 'filepond-plugin-file-poster/dist/filepond-plugin-file-poster.min.css';

@import 'glightbox/dist/css/glightbox.min.css';