@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'glightbox/dist/css/glightbox.min.css';
@import 'tom-select/dist/css/tom-select.bootstrap5.min.css';